/* Botón sólido */
.btn-solid {
  background-color: var( --button-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-solid:hover {
  background-color: var(--button-hover-color); /* Color al pasar el mouse */
  color: var(--button-hover-text-color)
}

/* Botón contorno */
.btn-outline {
  background-color: transparent;
  color: var(--button-color); /* Mismo color que el sólido */
  padding: 10px 20px;
  border: 2px solid var(--button-color);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: var(--button-hover-color); /* Color de fondo al pasar el mouse */
  border-color: transparent; /* Cambia el borde al pasar el mouse */
  color:var(--button-hover-text-color);
}
